{% extends 'base.html' %}

{% block title %}Manage Reservations{% endblock %}

{% block content %}
<h1>Manage Reservations</h1>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Table</th>
            <th>Date</th>
            <th>Time</th>
            <th>Party Size</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.user.username }}</td>
            <td>{{ reservation.table.number }}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.time }}</td>
            <td>{{ reservation.party_size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}